<a class="lockbox-badge" href="/about#security" aria-label="Powered by <%= brandName %> Lockbox">
  <svg width="18" height="18" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M12 1a5 5 0 0 0-5 5v2H6a2 2 0 0 0-2 2v7.5A4.5 4.5 0 0 0 8.5 22h7A4.5 4.5 0 0 0 20 17.5V10a2 2 0 0 0-2-2h-1V6a5 5 0 0 0-5-5Zm-3 7V6a3 3 0 0 1 6 0v2H9Z"></path>
  </svg>
  <span>Powered by <%= brandName %> <strong>Lockbox™</strong></span>
</a>
